h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}


.input-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.input-wrapper input {
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  transition: 0.2s ease-in-out;
}

button {
  margin-left: 0.5rem;
  padding: 0.2rem 1rem;
}

@media screen and (max-width: 768px) {
  .input-wrapper {
    flex-direction: column;
  }

  .input-wrapper > * {
    width: 100%;
  }

  button {
    margin-left: 0px;
    margin-top: 0.3rem;
    padding: 1rem;
  }
}